<p id="notice"><%= notice %></p>

<p>
  <strong>Word1:</strong>
  <%= @word.word1 %>
</p>

<p>
  <strong>Word2:</strong>
  <%= @word.word2 %>
</p>



<p>
  <strong>Edite Anagrama:</strong>
  <%= @word.anagrama %>
</p>


<%= link_to 'Back', words_path %>
